.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  color: white;
}

@keyframes backgroundShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.top-half {
  background: linear-gradient(-45deg, #e9e8e8, #3c3c3c, #4c4c4c, #2c2c2c);
  background-size: 400% 400%;
  animation: backgroundShift 15s ease infinite;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
  flex: 1;
}

.bottom-half {
  background: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.home-header {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  text-align: center;
}

.home-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.home-nav li {
  margin: 0 20px;
}

.home-main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.home-card {
  background-color: #4c4c4c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  transition: all 1s ease;
}

.home-card:hover {
  transform: scale(1.05);
  background-color: #5c5c5c;
  cursor: pointer;
}

.home-icon {
  background-color: #666;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.home-header h1 {
  font-size: 3rem;
  /* Change this value to the size you desire */
  margin: 0;
  padding: 0;
}

/* Full-width on smaller screens */
@media (max-width: 768px) {
  .home-main {
    flex-direction: column;
  }

  .home-card {
    margin-bottom: 20px;
  }
}
