.assignment-edit-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: gray;
  height: auto;
}

h1 {
  color: white;
}

.assignment-container {
  background-color: white;
  padding: 1%;
  border-radius: 8px;
}
.assignment {
  background-color: #0071ba;
  border-radius: 7px;
  color: white;
  display: flex;
  gap: 100px;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
}

.button {
  background-color: #0071ba;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.icon-button {
  background: none;
  font-size: 20px;
}

.icon {
  color: white;
}

.save-book {
  display: block;
  margin-top: 20px;
}

.edit,
.delete {
  background: none;
}
