h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
}

h2 {
  font-weight: 30px;
  font-size: 1.25em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 3em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal.show-modal {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.library-container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 10fr));
  max-height: auto;
  font-family: "Times New Roman", Times, serif;
  background-color: gray;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This creates space between the books */
  flex-grow: 1;
  margin-right: 3%;
  gap: 1.25em;
  padding: 1.25em;
  margin-right: 3%;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.book-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.book-image-container {
  height: 16em;
  /* Set this to the desired height */
  background-color: #f4f4f4;
  /* Placeholder color if there's no image */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.book-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.book-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: #666;
  height: 9.375em;
  font-size: 0.875em;
}

.book-title {
  white-space: inherit;
  margin: 0.625em 0;
  padding: 0 0.625em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the play button inside book cards */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25em;
  background-color: #333;
  color: #fff;
}

.library-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.625em;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #0071ba;
  color: white;
}

.search-bar {
  background-color: #013e67;
  color: white;
  margin-bottom: 2em;
  margin-left: 8.125em;
  border-radius: 0.25em;
  width: 19.75em;
  height: 1.75em;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 16.875em;
  margin: 0.625em;
  max-width: 100%;
}

.edit-book,
.delete-book {
  position: absolute;

  z-index: 10;
  color: black;
  top: 0.3125em;
  right: 0.3125em;
}

.edit-book {
  right: 3.75em;
  background-color: #bfc3bf;
}

.delete-book:hover,
.edit-book:hover {
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
}

.dropbtn {
  background-color: #f4f4f4;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:active .dropdown-content {
  display: block;
}

.view-buttons {
  display: flex;
  align-items: center;
  gap: 5em;
  /* Adjust as needed */
  padding-left: 2.5%;
  background-color: black;
  color: white;
  width: 100%;

  /* This will push the buttons to the end of the search bar */
}

.view-button {
  height: 1.875em;
  font-size: 0.75em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: left;
  position: absolute;
  right: 0;
  margin-right: 3.25em;
}

.icon {
  color: black;
}

.view-buttons button {
  border: none;
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.view-buttons button:hover {
  background-color: #ccc;
}

.book-details {
  color: white;
}

.book-list-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.book-card-options {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
}

.book-card:hover .book-card-options {
  display: block;
  /* Show options on hover */
}

.book-card-options button {
  border: none;
  background-color: #f4f4f4;
  padding: 8px;
  cursor: pointer;
}

.book-card-options button:hover {
  background-color: #e0e0e0;
}

.book-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em;
  border-bottom: 1px solid #ddd;
}

.book-list-options button {
  margin-left: 0.625em;
}

.form-vals {
  border-radius: 10px;
}
