.add-books-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 20px auto;
}


.add-books-form input[type="text"],
.add-books-form textarea {
    width: calc(100% - 24px);
    /* Adjusted width for padding */
    padding: 12px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}


.input-group input[type="text"]::placeholder,
.add-books-form textarea::placeholder {
    color: #ccc;
    font-style: italic;
}


.add-books-form button {
    background-color: #747272;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.add-books-form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.add-books-form button[type="button"] {
    /* Styling for 'Add Question' button */
    background-color: #747272;
    color: white;
    padding: 14px 24px;
    margin: 20px 0 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

.add-books-form button:hover {
    opacity: 0.9;
    background-color: #414141;
    transition: 400ms;
}

.add-books-form .close {
    margin-bottom: 20px;
    /* Give some space between the close button and the form elements */
    display: inline-block;
    /* To enable margin-top to work */
    cursor: pointer;
}

.add-books-form .question-input {
    display: flex;
    margin-bottom: 10px;
}

.add-books-form .question-input input {
    flex-grow: 1;
    margin-right: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.upload-cover {
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    color: #888;
    padding: 20px;
    margin-top: 20px;
}

.upload-cover:hover {
    border-color: #777;
}

.chapter-questions {
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-item {
    margin-bottom: 15px;
}

.question-item label {
    font-weight: bold;
}

.question-item input[type="text"] {
    margin-top: 5px;
    /* Spacing above inputs within a question */
}

/* Edit question modal styling */
.edit-question-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    /* Or absolute, depending on your needs */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    /* Adjust the width as needed */
    z-index: 10;
}